In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005
1265,tt2404181,10900000,16505460,Belle,Gugu Mbatha-Raw|Tom Wilkinson|Miranda Richards...,Amma Asante,Based on the inspiring true story,BELLE is inspired by the true story of Dido El...,105,Drama,Isle of Man Film|DJ Films|British Film Institu...,9/8/2013,7.1,2013
1513,tt0384793,23000000,38505009,Accepted,Justin Long|Jonah Hill|Blake Lively|Adam Hersc...,Steve Pink,When every college turned them down. . . they ...,A high school slacker who's rejected by every ...,93,Comedy,Universal Pictures|Shady Acres Entertainment,8/18/2006,6.1,2006
1701,tt0443706,65000000,84785914,Zodiac,Jake Gyllenhaal|Robert Downey Jr.|Mark Ruffalo...,David Fincher,There's more than one way to lose your life to...,The true story of the investigation of 'The Zo...,157,Crime|Drama|Mystery|Thriller,Paramount Pictures|Warner Bros.|Phoenix Pictures,3/2/2007,7.1,2007
463,tt0427152,69000000,86387857,Dinner for Schmucks,Steve Carell|Paul Rudd|Stephanie Szostak|Jemai...,Jay Roach,Takes One To Know One.,Rising executive Tim Wagner works for a boss w...,114,Comedy,Paramount Pictures|DreamWorks SKG|Spyglass Ent...,7/30/2010,5.4,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
# Create dictionary for answers
answers = {'1':'','2':'','3':'','4':'','5':'','6':'','7':'','8':'','9':'','10':'','11':'','12':'','13':'','14':'','15':'',
           '16':'','17':'','18':'','19':'','20':'','21':'','22':'','23':'','24':'','25':'','26':'','27':''} 

# Add to the dataset an additional column for profit 
data['profit'] = data['revenue']-data['budget']

# Add to the dataset an additional column for the length of the title (in letters) 
data['title_letter'] = data['original_title'].apply(lambda x: len(x))

# Add to the dataset an additional column for the length of the title (in words) 
data['title_words'] = data['original_title'].map(lambda x: len(x.split(' ')))

# To change the format of  the time in the dataset from string to datetime format.
data.release_date = pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
answers['1'] = 'Pirates of the Caribbbean: On Stranger Tides'
# Find the largest value in the column 'budget' in the dataset and show the title of the movie. 
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [12]:
# Find the largest value in the column 'runtime' and show the title of the movie. 
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = 'Winnie the Pooh'
# Find the smallest value in the column 'runtime' and show the title of the movie.
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'
# Find the mean value for the column 'runtime'. 
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107'
# Find the median value (50%) for the column 'runtime'. 
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar'
# Find the largest value in the column 'profit' and show the title of the movie.
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Range'
# Find the smallest value in the column 'profit' and show the title of the movie.
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'
# Count the number of movies with positive profit within the column 'profit' in the dataset.
data[data.profit>0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
title_letter            1478
title_words             1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
answers['9'] = 'The Dark Knight'
# Create a new dataset for movies released in 2008
data9 = data[data.release_year==2008]
# Find the movie with the highest revenue.
data9[data9.revenue==data9.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] = 'The Lone Ranger'
# Create a new dataset for movies released in 2012-2014 years
data10 = data[(data.release_year>=2012)&(data.release_year<=2014)]
# Find the movie with the lowest profit.
data10[data10.profit==data10.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [22]:
answers['11'] = 'Drama'
genres_data = data.copy()
# Split the initial dataset based on genres in a way when one line in the dataset corresponds
# to a movie with one genre only.
genres_data.genres = genres_data.genres.str.split('|')
genres_data = genres_data.explode('genres')
# Count the number of each genre.
genres_data.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
answers['12'] = 'Drama'
# Create a new dataset, containing only profitable movies
profit_data = data[data.profit>0].copy()
# Split the dataset based on genres in a way when one line in the dataset corresponds
# to a movie with one genre only.
profit_data.genres = profit_data.genres.str.split('|')
profit_data = profit_data.explode('genres')
# Count the number of each genre and arrage the final values in the decreasing order.
grouped_profit_data = profit_data.groupby(['genres'])['profit'].count().sort_values(ascending=False)
grouped_profit_data

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [24]:
answers['13'] = 'Peter Jackson'
# Create a new dataset.
director_data = data.copy()
# Split the dataset based on director in a way when one line in the dataset corresponds
# to a movie with one director only.
director_data.director = director_data.director.str.split('|')
director_data = director_data.explode('director')
# Find the total revenue earned by each director and arrage the final values in the decreasing order.
grouped_director_data = director_data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
grouped_director_data

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
answers['14'] = 'Robert Rodriguez'
# Create a new dataset, containing only "Action" movies.
data14 = data[data.genres.str.contains("Action", na=False)]
# Split the dataset based on director in a way when one line in the dataset corresponds
# to a movie with one director only.
data14.director = data14.director.str.split('|')
data14 = data14.explode('director')
# Count the total number of movies filmed by each director and arrage the final values in the decreasing order.
data14.groupby(by = 'director')['director'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
answers['15'] = 'Chris Hemsworth'
data15=data.copy() 
# Split the dataset based on the actor's names in a way when one line in the dataset corresponds
# to a movie with one actor's name only.
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
# Select movies which were filmed in 2012 only. 
data15_2012 = data15[data15.release_year==2012]
# Find the total revenue for each actor and arrage the final values in the decreasing order.
grouped_data15_2012 = data15_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
grouped_data15_2012

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
answers['16'] = 'Matt Damon'
data16 = data.copy()
# Split the dataset based on the actor's names in a way when one line in the dataset corresponds
# to a movie with one actor's name only.
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
# Create a new dataset with movies which bughet is above mean value.
highbudg_data16 = data16[data16.budget > data16.budget.mean()]
# Count the total number of movies based on actor's name.
highbudg_data16.cast.value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Samuel L. Jackson     15
Eddie Murphy          15
                      ..
Eva Longoria           1
Emilio EchevarrÃ­a     1
Mary Alice             1
Johnny Whitworth       1
David Zayas            1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
answers['17'] = 'Action'
# Create a new dataset, containing only movies with Nicolas Cage.
actor_data17 = data[data.cast.str.contains("Nicolas Cage", na=False)]
# Split the dataset based on the genres in a way when one line in the dataset corresponds
# to a movie with one genre only.
actor_data17.genres = actor_data17.genres.str.split('|')
actor_data17 = actor_data17.explode('genres')
# Count the total number of movies with certain genre.
actor_data17.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
answers['18'] = ' K-19: The Widowmaker'
# Create a new dataset, containing only movies filmed by Paramount Pictures.
studio_data = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
# Find the movie with the lowest profit and show its title.
studio_data[studio_data.profit==studio_data.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answers['19'] = '2015'
# Sum the revenue for movies released in certain year and arrage the final values in the decreasing order.
grouped_data19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
grouped_data19

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
answers['20'] = '2014'
# Create a new dataset, containing only movies filmed by Warner Bros.
WBstudio_data = data[data.production_companies.str.contains("Warner Bros", na=False)]
# Sum the profit for movies released in certain year and arrage the final values in the decreasing order.
grouped_WBstudio_data = WBstudio_data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
grouped_WBstudio_data

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answers['21'] = ''

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answers['22'] = '450'
# Count the total number of movies released in June, July, and August.
data[data.release_date.dt.month.isin([6,7,8])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
answers['23'] = 'Peter Jackson'
director_data = data.copy()
# Split the dataset based on director in a way when one line in the dataset corresponds
# to a movie with one director only.
director_data .director = director_data.director.str.split('|')
director_data = director_data.explode('director')
# Create a new dataset with movies released in January, February , and December.
winter_director_data = director_data[director_data.release_date.dt.month.isin([1,2,12])]
# Count the total number of movies filmed by certain director.
winter_director_data.groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
answers['24'] = 'Four By Two Productions'
let_title = data.copy()
# Split the dataset based on production_companies in a way when one line in the dataset corresponds
# to a movie with one production_company only.
let_title.production_companies = let_title.production_companies.str.split('|')
let_title = let_title.explode('production_companies')
# Find the movie with the largest number of the letters in the movies's title and show the name of 
# the production company.
let_title[let_title.title_letter==let_title.title_letter.max()].production_companies

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
answers['25'] = 'Four By Two Productions'
word_title = data.copy()
# Split the dataset based on production_companies in a way when one line in the dataset corresponds
# to a movie with one production_company only.
word_title.production_companies = word_title.production_companies.str.split('|')
word_title = word_title.explode('production_companies')
# Create a new dataset with movies which title length count by words is above the average length
above_word_title = word_title[word_title.title_words>word_title.title_words.mean()]
# Find the mean number of words in the movie's title for each production company and show the name of 
# the production company with this values in the decreasing order.
above_word_title.groupby(by = 'production_companies')['title_words'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions            12.0
Alberta Film Entertainment         10.0
Jim Henson Company, The            10.0
Polsky Films                        9.0
The Saul Zaentz Company             9.0
                                   ...
Lou Yi Inc.                         3.0
Lucamar Productions                 3.0
Ludlum Entertainment                3.0
MBC Beteiligungs Filmproduktion     3.0
"DIA" Productions GmbH & Co. KG     3.0
Name: title_words, Length: 1019, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
answers['26'] = 'Inside Out,The Dark Knight, 12 Years a Slave'
# By using the quantile function looking for the list of movies which vote_average value above 99% 
data.original_title[data.vote_average.quantile(.99)<data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [40]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# introduce a module that provides various functions that work on iterators to produce complex iterators.
import itertools as it

two_actors = data.copy()
# Add an additional column with all possible combinations of 2 actors for each movie 
two_actors['options_cast'] = two_actors.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
# Count the number of matches within the column "options_cast" with the metod "most_common" and shows 
# the list of top 10 matches
Counter(two_actors.options_cast.values.sum()).most_common(10)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Paul Walker', 'Vin Diesel'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

# Submission

In [41]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Range',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': ' K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': 'Inside Out,The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [42]:
# и убедиться что ни чего не пропустил)
len(answers)

27